@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    list-style-type: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

main{
    width: 70%;
    margin: 0 auto;
}

:root{
    --greenlightblue: rgb(45, 253, 149), rgb(34,193,195);
    --pinkblue: rgb(191,129,148), rgb(86,166,241);
    --greenblue: rgb(97,227,194), rgb(70,134,195);
    --ocherblue: rgb(226,132,23) rgb(92,144,181);
}

/*--------------HEADER-------------*/
header{   
    background: linear-gradient(180deg, var(--greenlightblue));
    color: white;
}

.logo_travel{
    display: flex;
}

.oiseaux{
    width: 5%;
    /*box-shadow: -1px 2px 20px 0px #000000;*/
}

.boiteHaut{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}
 
nav ul{
    display: flex;
    justify-content: space-around;   
}

nav a{
    color: white;
}

marquee{
    border: 3px double white;
}

/*-----------------SECTION----------------*/

#japon{
    background: linear-gradient(0deg, var(--pinkblue));
    border-radius: 10px 10px 10px 10px;
}

#thailande{
    background: linear-gradient(0deg, var(--greenblue));
    border-radius: 10px 10px 10px 10px;
    /*height: 390px;*/
}

#inde{
    background: linear-gradient(0deg, var(--ocherblue)); 
    border-radius: 10px 10px 10px 10px;
}

.box-fluid{
    margin: 2% 0;
    display: flex;
    padding: 3% 5%;
}

/*----IMAGE------*/
.imgJapon, .imgThailande, .imgInde{
    border-radius: 50%;
}

.imgJapon{
    width: 80%;   
    margin: 5% 1% 2% 3%;
    object-fit: fill;    
}

.imgThailande{
    width: 40%;
    height: 260px;
    object-fit: initial;   
}

.imgInde{
    width: 50%;
    object-fit: initial;
}

/*----TEXTE------*/
.txtJapon{
    margin: 2% 4% 2% 8%;
}

.txtThai{
    margin: 2% 24% 2% -2%;
}

.txtThai, .titreThailande{
    text-align: center;
}

.txtInde{
    margin: 2% 8% 2% 8%;
    text-align: right;   
}

/*----TITRE------*/
.titreJapon{
    margin-left: 8%;
}

.titreInde{
    margin-left: 86%;
}

.titreThailande{
    margin-left: -24%;
}



/*--------------------FOOTER------------------*/
.boiteBas{
    background: linear-gradient(0deg, var(--greenblue));
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
}

#social ul{
    display: flex;
    padding: 0 1%;
}

#social ul li{
    padding: 0 3%;
    font-size: 1.5em;
}


/*---------------RESPONSIVE---------------*/
/*bouton menu*/
.menu{
    position: relative;
    right: auto;
    font-size: 2em;
    display: none;
    cursor: pointer;
}

/*******PORTABLE*******/
@media (max-width: 600px){
    /*----HEADER----*/
    .logo_travel{
        justify-content: center;
    }

    .menu{
        display: block;
        margin-right: 5%;       
    }

    nav{
        display: none;
    }

    .box{
        padding: 70% 5%;
    }

    /*-----IMAGES-----*/
    .imgJapon{
        position: relative;
        height: 200px;
        width: 150px;     
    }

    .imgThai{
        position: relative;
        height: 200px;
        width: 300px;
    }

    .imgInde{
        position: relative;
        height: 200px;
        width: 150px;
    }

    /*----TEXTES-----*/
    .txtThai{
        margin: 10% 1% 1% 1%;
    }

    .txtJapon{
        
    }

}